.container {
  margin: auto;
  text-align: left;
}

.person-input {
  margin-bottom: 10px;
}

.person-input input {
  margin-right: 10px;
}

.button-group {
  margin-top: 20px;
}

.results-container {

}

.results {
  margin-top: 20px;
  background-color: white;
  border: 1px solid black;
}

.results span {
  display: block;
  margin-bottom: 5px;
}
